<!-- Main modal -->
<div id="defaultModal" tabindex="-1" aria-hidden="true"
  class="hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 justify-center items-center w-full md:inset-0 h-modal md:h-full">
  <div class="relative p-4 w-full max-w-2xl h-full md:h-auto">

    @if(this.isCreatingPlayer()){
    <div class="flex items-center relative p-4 bg-white rounded-lg shadow sm:p-5">
      <div role="status">
        <svg aria-hidden="true" class="w-4 h-4 me-2 text-gray-200 animate-spin dark:text-gray-600 fill-blue-600"
          viewBox="0 0 100 101" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path
            d="M100 50.5908C100 78.2051 77.6142 100.591 50 100.591C22.3858 100.591 0 78.2051 0 50.5908C0 22.9766 22.3858 0.59082 50 0.59082C77.6142 0.59082 100 22.9766 100 50.5908ZM9.08144 50.5908C9.08144 73.1895 27.4013 91.5094 50 91.5094C72.5987 91.5094 90.9186 73.1895 90.9186 50.5908C90.9186 27.9921 72.5987 9.67226 50 9.67226C27.4013 9.67226 9.08144 27.9921 9.08144 50.5908Z"
            fill="currentColor" />
          <path
            d="M93.9676 39.0409C96.393 38.4038 97.8624 35.9116 97.0079 33.5539C95.2932 28.8227 92.871 24.3692 89.8167 20.348C85.8452 15.1192 80.8826 10.7238 75.2124 7.41289C69.5422 4.10194 63.2754 1.94025 56.7698 1.05124C51.7666 0.367541 46.6976 0.446843 41.7345 1.27873C39.2613 1.69328 37.813 4.19778 38.4501 6.62326C39.0873 9.04874 41.5694 10.4717 44.0505 10.1071C47.8511 9.54855 51.7191 9.52689 55.5402 10.0491C60.8642 10.7766 65.9928 12.5457 70.6331 15.2552C75.2735 17.9648 79.3347 21.5619 82.5849 25.841C84.9175 28.9121 86.7997 32.2913 88.1811 35.8758C89.083 38.2158 91.5421 39.6781 93.9676 39.0409Z"
            fill="currentFill" />
        </svg>
        <span class="sr-only">Creando...</span>
      </div>
      Creando jugador
    </div>
    }

    <!-- Modal content -->
    <div class="relative p-4 bg-white rounded-lg shadow sm:p-5" [hidden]="this.isCreatingPlayer()">
      <!-- Modal header -->
      <div class="flex justify-between items-center pb-4 mb-4 rounded-t border-b sm:mb-5 ">
        <h3 class="text-lg font-semibold text-gray-900 ">
          Nuevo jugador
        </h3>
        <button type="button"
          class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm p-1.5 ml-auto inline-flex items-center"
          data-modal-toggle="defaultModal">
          <svg aria-hidden="true" class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20"
            xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd"
              d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z"
              clip-rule="evenodd"></path>
          </svg>
          <span class="sr-only">Close modal</span>
        </button>
      </div>
      <!-- Modal body -->
      <form [formGroup]="playerForm" (submit)=" onSubmit($event)">
        <div class="grid gap-4 mb-4 sm:grid-cols-2 ">
          <div class="relative">
            <label for="name" class="block mb-2 text-sm font-medium text-gray-900">
              Nombre
            </label>
            <input type="text" name="name" id="name" formControlName="name" autocomplete="name"
              class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 "
              [ngClass]="{ 'border-red-500 border-2': (playerForm.get('name')?.errors?.['required'] || playerForm.get('name')?.errors?.['name']) && (isSubmitted || playerForm.get('name')?.touched)}"
              placeholder="Añade el nombre" required="">
            @if(playerForm.get('name')?.errors?.['required'] && (isSubmitted || playerForm.get('name')?.touched)){
            <p id="outlined_error_help" class="mt-2 text-xs text-red-600 absolute -top-1.5 right-0"><span
                class="font-medium">Ops!</span> Nombre es requerido</p>
            }
          </div>
          <div class="relative">
            <label for="brand" class="block mb-2 text-sm font-medium text-gray-900 ">
              Apellidos
            </label>
            <input type="text" name="brand" id="brand" formControlName="lastName"
              class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5"
              [ngClass]="{ 'border-red-500 border-2': (playerForm.get('lastName')?.errors?.['required'] || playerForm.get('lastName')?.errors?.['lastName']) && (isSubmitted || playerForm.get('lastName')?.touched)}"
              placeholder="Añade los apellidos" required="">
            @if(playerForm.get('lastName')?.errors?.['required'] && (isSubmitted ||
            playerForm.get('lastName')?.touched)){
            <p id="outlined_error_help" class="mt-2 text-xs text-red-600 absolute -top-1.5 right-0"><span
                class="font-medium">Ops!</span> Apellidos es requerido</p>
            }
          </div>
          <div class="relative">
            <label for="price" class="block mb-2 text-sm font-medium text-gray-900 ">
              DNI
            </label>
            <input type="text" name="price" id="price" formControlName="dni"
              class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5"
              [ngClass]="{ 'border-red-500 border-2': (playerForm.get('dni')?.errors?.['required'] || playerForm.get('dni')?.errors?.['dni']) && (isSubmitted || playerForm.get('dni')?.touched)}"
              placeholder="Añade el DNI" required="">
            @if(playerForm.get('dni')?.errors?.['required'] && (isSubmitted || playerForm.get('dni')?.touched)){
            <p id="outlined_error_help" class="mt-2 text-xs text-red-600 absolute -top-1.5 right-0"><span
                class="font-medium">Ops!</span> DNI es requerido</p>
            }
            @else if(playerForm.get('dni')?.errors?.['dni'] && (isSubmitted || playerForm.get('dni')?.touched)){
            <p id="outlined_error_help" class="mt-2 text-xs text-red-600 absolute -top-1.5 right-0"><span
                class="font-medium">Ops!</span> DNI no es valido</p>
            }
          </div>

          <div>
            <label class="block mb-2 text-sm font-medium text-gray-900 dark:text-white" for="user_avatar">
              Sube una imagen
            </label>
            <input type="file" name="avatar" id="avatar" formControlName="avatar" (change)="onAvatarChange($event)"
              class="block w-full text-sm text-gray-900 border border-gray-300 rounded-lg cursor-pointer bg-gray-50 focus:outline-none"
              aria-describedby="user_avatar_help" id="user_avatar" type="file">
          </div>


          <div class="relative">
            <label class="block mb-2 text-sm font-medium text-gray-900 dark:text-white" for="user_avatar">
              Fecha de nacimiento
            </label>
            <div class="relative max-w-sm">
              <app-datepicker formControlName="birthday" [classesFromParent]="dynamicClasses"
                (dateChange)="onDateChange($event)"></app-datepicker>
            </div>
            @if(playerForm.get('birthday')?.errors?.['required'] && (isSubmitted ||
            playerForm.get('birthday')?.touched)){
            <p id="outlined_error_help" class="mt-2 text-xs text-red-600 absolute -top-1.5 right-0"><span
                class="font-medium">Ops!</span> Campo requerido</p>
            }
            @else if(playerForm.get('birthday')?.errors?.['underage'] && (isSubmitted ||
            playerForm.get('birthday')?.touched)){
            <p id="outlined_error_help" class="mt-2 text-xs text-red-600 absolute -top-1.5 right-0">
              Es menor de 16años!
            </p>
            }
          </div>

          <div class="flex flex-col gap-4 sm:col-span-2 p-8 border-b border-t border-gray-300 ">
            <div class="flex flex-row flex-wrap gap-4 items-center justify-between">
              <label for="category" class="block mb-2 text-sm font-medium text-gray-900">Equipos</label>
              <div class="relative">
                <div class="flex absolute inset-y-0 left-0 items-center pl-3 pointer-events-none">
                  <svg class="w-5 h-5 text-gray-500 dark:text-gray-400" fill="currentColor" viewBox="0 0 20 20"
                    xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" clip-rule="evenodd"
                      d="M8 4a4 4 0 100 8 4 4 0 000-8zM2 8a6 6 0 1110.89 3.476l4.817 4.817a1 1 0 01-1.414 1.414l-4.816-4.816A6 6 0 012 8z">
                    </path>
                  </svg>
                </div>
                <input type="text" name="search" id="sidebar-search" (input)="onTeamSearchInput($event)"
                  class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full pl-10 p-2 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"
                  placeholder="Añadir equipo" />
                @if((this.searchedTeams()?.data?.items?.length ?? 0) > 0){
                @for(team of this.searchedTeams()?.data?.items; track team.id_team){
                <div
                  class="absolute top-10 flex flex-col w-full gap-2 bg-gray-50 rounded-lg py-2 shadow-md z-10 text-sm text-gray-700">
                  <div
                    class="flex flex-row gap-2 py-1 px-4 rounded-sm items-center hover:text-gray-500 hover:cursor-pointer hover:bg-gray-100">
                    <button class="border rounded-lg p-1" type="button">
                      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                        stroke="currentColor" class="size-5">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M12 4.5v15m7.5-7.5h-15" />
                      </svg>
                    </button>
                    <p class="text-sm font-medium">{{team.name}}</p>
                    @if(team.avatar){
                    <img class="w-6 h-6 rounded-lg object-cover" src="{{imgUrl + team.avatar}}" alt="{{team.name}}">
                    }
                    @else {
                    <img class="w-6 h-6 rounded-lg object-cover" src="/assets/icons/avatar.svg" alt="{{team.name}}">
                    }
                  </div>
                </div>
                }
                }


              </div>
              <!-- <button type="button"
                class="text-gray-700 bg-white border border-gray-300 focus:outline-none hover:bg-gray-100 focus:ring-4 focus:ring-gray-100 font-medium rounded-lg text-sm px-3 py-1.5 me-2">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                  stroke="currentColor" class="size-4">
                  <path stroke-linecap="round" stroke-linejoin="round" d="M12 4.5v15m7.5-7.5h-15" />
                </svg>

              </button> -->
            </div>

            <div class="flex flex-col gap-2 justify-center">
              <section class="flex flex-row gap-2 px-4 items-center justify-between border-b ">
                <div class="flex flex-row gap-4 items-center ">
                  <img src="/assets/icons/avatar.svg" alt="avatar" class="w-8 h-8 rounded-lg object-cover">
                  <p class="text-sm font-medium">Equipo 1</p>
                </div>
                <div class="flex flex-row min-w-36 justify-center items-center py-2">
                  <button type="button"
                    class="text-gray-700 bg-white border border-gray-300 focus:outline-none hover:bg-gray-100 focus:ring-4 focus:ring-gray-100 font-medium rounded-lg text-sm px-3 py-1.5 me-2">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                      stroke="currentColor" class="size-4">
                      <path stroke-linecap="round" stroke-linejoin="round"
                        d="m14.74 9-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 0 1-2.244 2.077H8.084a2.25 2.25 0 0 1-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 0 0-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 0 1 3.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 0 0-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 0 0-7.5 0" />
                    </svg>
                  </button>
                </div>
              </section>


            </div>
          </div>




          <!-- <div>
            <label for="category" class="block mb-2 text-sm font-medium text-gray-900 ">Category</label>
            <select id="category"
              class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full p-2.5 ">
              <option selected="">Select category</option>
              <option value="TV">TV/Monitors</option>
              <option value="PC">PC</option>
              <option value="GA">Gaming/Console</option>
              <option value="PH">Phones</option>
            </select>
          </div>
          <div class="sm:col-span-2">
            <label for="description" class="block mb-2 text-sm font-medium text-gray-900 ">Description</label>
            <textarea id="description" rows="4"
              class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-primary-500 focus:border-primary-500 "
              placeholder="Write product description here"></textarea>
          </div> -->
        </div>
        <button type="submit"
          class="text-white inline-flex items-center bg-primary-700 hover:bg-primary-800 focus:ring-4 focus:outline-none focus:ring-primary-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center mt-2">
          <svg class="mr-1 -ml-1 w-6 h-6" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd"
              d="M10 5a1 1 0 011 1v3h3a1 1 0 110 2h-3v3a1 1 0 11-2 0v-3H6a1 1 0 110-2h3V6a1 1 0 011-1z"
              clip-rule="evenodd">
            </path>
          </svg>
          Añadir jugador
        </button>
      </form>
    </div>
  </div>
</div>
