<div class="min-h-fit relative flex flex-col gap-4 w-full justify-center">

  <div
    class=" p-12 lg:p-12 bg-white relative shadow-md sm:rounded-lg overflow-hidden flex flex-col gap-8 w-full max-w-[1200px]">
    <button data-tooltip-target="tooltip-default" type="button" class="absolute top-4 right-4 "
      (click)="this.organizationViewState.set('EDIT')">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor"
        class="size-6 text-primary-600 hover:cursor-pointer hover:text-primary-400 transition-all duration-100">
        <path
          d="M21.731 2.269a2.625 2.625 0 0 0-3.712 0l-1.157 1.157 3.712 3.712 1.157-1.157a2.625 2.625 0 0 0 0-3.712ZM19.513 8.199l-3.712-3.712-8.4 8.4a5.25 5.25 0 0 0-1.32 2.214l-.8 2.685a.75.75 0 0 0 .933.933l2.685-.8a5.25 5.25 0 0 0 2.214-1.32l8.4-8.4Z" />
        <path
          d="M5.25 5.25a3 3 0 0 0-3 3v10.5a3 3 0 0 0 3 3h10.5a3 3 0 0 0 3-3V13.5a.75.75 0 0 0-1.5 0v5.25a1.5 1.5 0 0 1-1.5 1.5H5.25a1.5 1.5 0 0 1-1.5-1.5V8.25a1.5 1.5 0 0 1 1.5-1.5h5.25a.75.75 0 0 0 0-1.5H5.25Z" />
      </svg>
    </button>
    <div id="tooltip-default" role="tooltip"
      class="absolute z-10 invisible inline-block px-3 py-2 text-sm font-medium text-white transition-opacity duration-500 bg-primary-600 rounded-lg shadow-sm opacity-0 tooltip">
      Editar centro
      <div class="tooltip-arrow" data-popper-arrow></div>
    </div>
    <div class="w-full flex flex-wrap gap-8 py-4">
      @if(organization()?.logo){
      <img src="{{imgUrl + organization()?.logo}}" alt="{{organization()?.name}}"
        class="w-40 h-40 rounded-lg border object-cover">
      }
      @else {
      <img src="/assets/icons/avatar.svg" alt="{{organization()?.name}}"
        class="w-40 h-40 rounded-lg border object-cover">
      }
      <section class="flex flex-col gap-1">
        <h3 class="text-xl font-bold mb-2">{{organization()?.name}}</h3>
        <p class="text-gray-500 text-wrap"><span class="font-bold text-gray-800">Dirección:</span>
          {{organization()?.address}}</p>
      </section>
    </div>
  </div>
