<div class=" p-12 lg:p-12 bg-white relative shadow-md sm:rounded-lg overflow-hidden flex flex-col gap-8 w-fit">
  <button class="absolute top-4 right-4 " (click)="this.playerViewState.set('EDIT')">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor"
      class="size-6 text-gray-600 hover:cursor-pointer hover:text-gray-400 transition-all duration-100">
      <path
        d="M21.731 2.269a2.625 2.625 0 0 0-3.712 0l-1.157 1.157 3.712 3.712 1.157-1.157a2.625 2.625 0 0 0 0-3.712ZM19.513 8.199l-3.712-3.712-8.4 8.4a5.25 5.25 0 0 0-1.32 2.214l-.8 2.685a.75.75 0 0 0 .933.933l2.685-.8a5.25 5.25 0 0 0 2.214-1.32l8.4-8.4Z" />
      <path
        d="M5.25 5.25a3 3 0 0 0-3 3v10.5a3 3 0 0 0 3 3h10.5a3 3 0 0 0 3-3V13.5a.75.75 0 0 0-1.5 0v5.25a1.5 1.5 0 0 1-1.5 1.5H5.25a1.5 1.5 0 0 1-1.5-1.5V8.25a1.5 1.5 0 0 1 1.5-1.5h5.25a.75.75 0 0 0 0-1.5H5.25Z" />
    </svg>

  </button>
  <div class="w-full flex flex-wrap gap-8 py-4 pb-12 border-b">
    @if(player?.avatar){
    <img src="{{imgUrl + player?.avatar}}" alt="{{player?.name}} {{player?.last_name}}"
      class="w-40 h-40 rounded-lg border object-cover">
    }
    @else {
    <img src="/assets/icons/avatar.svg" alt="{{player?.name}} {{player?.last_name}}"
      class="w-40 h-40 rounded-lg border object-cover">
    }
    <section class="flex flex-col gap-1">
      <h3 class="text-xl font-bold mb-2">{{player?.name}} {{player?.last_name}}</h3>
      <div class="flex flex-col text-sm gap-1 h-full">
        <p class="text-gray-800"><span class="font-bold">DNI:</span> {{player?.dni}}</p>
        <p class="text-gray-800"><span class="font-bold">Edad:</span> {{playerYears}} años</p>
        <p class="text-gray-800"><span class="font-bold">Nacimiento:</span> {{player?.birthday}}</p>
      </div>
    </section>

  </div>

  <section class="flex flex-col gap-4 w-full justify-center">

    <h5 class="text-lg font-semibold text-gray-800 ">Equipos</h5>
    @for(team of teamPlayers(); track team.team_player_id){
    <a routerLink="/teams/{{team?.team_id}}"
      class="flex flex-row gap-4 p-2 w-full items-center rounded-lg hover:cursor-pointer hover:bg-gray-100 transition-all duration-100">
      @if(team?.team?.avatar){
      <img src="{{imgUrl + team?.team?.avatar}}" alt="{{team?.team?.name}}"
        class="w-10 h-10 rounded-lg border object-cover">
      }
      @else {
      <img src="/assets/icons/avatar.svg" alt="{{team?.team?.name}}" class="w-10 h-10 rounded-lg border object-cover">
      }
      <p>{{team?.team?.name}}</p>
    </a>
    }
  </section>

</div>
