<div class="bg-white dark:bg-gray-800 relative shadow-md sm:rounded-lg overflow-hidden max-w-6xl">
  <div class="relative p-4 bg-white rounded-lg shadow sm:p-5">
    <div class="border-b pb-5 sm:pb-6">

      <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 items-center gap-x-4 gap-y-0 rounded-t mb-4">


        <div class="w-full">
          <label for="countries" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Estado del
            partido:</label>
          <select id="countries" [formControl]="matchStatus"
            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-700 focus:border-primary-700 block w-full p-2.5 ">
            <option value="SCHEDULED" selected>PROGRAMADO</option>
            <option value="IN_PROGRESS">EN PROGRESSO</option>
            <option value="FINISHED">FINALIZADO</option>
            <option value="POSTPONED">POSPUESTO</option>
            <option value="CANCELLED">CANCELADO</option>
            <option value="ABANDONED">ABANDONADO</option>
            <option value="TO_BE_SCHEDULED">POR PROGRAMAR</option>
          </select>
        </div>

        <div class="w-full">
          <label class="block mb-2 text-sm font-medium text-white opacity-0 dark:text-white">.</label>
          <button (click)="setFormType('GOAL')"
            class="w-full text-white inline-flex items-center bg-primary-700 hover:bg-primary-800 focus:ring-4 focus:outline-none focus:ring-primary-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center transition-colors duration-100"
            [ngClass]="getButtonClasses('GOAL')">
            <svg class="mr-1 -ml-1 w-6 h-6" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd"
                d="M10 5a1 1 0 011 1v3h3a1 1 0 110 2h-3v3a1 1 0 11-2 0v-3H6a1 1 0 110-2h3V6a1 1 0 011-1z"
                clip-rule="evenodd">
              </path>
            </svg>
            Añadir gol
          </button>
        </div>

        <div class="w-full">
          <label class="block mb-2 text-sm font-medium text-white opacity-0 dark:text-white">.</label>

          <button (click)="setFormType('CARD')"
            class="w-full text-white inline-flex items-center bg-primary-700 hover:bg-primary-800 focus:ring-4 focus:outline-none focus:ring-primary-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center transition-colors duration-100"
            [ngClass]="getButtonClasses('CARD')">
            <svg class="mr-1 -ml-1 w-6 h-6" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd"
                d="M10 5a1 1 0 011 1v3h3a1 1 0 110 2h-3v3a1 1 0 11-2 0v-3H6a1 1 0 110-2h3V6a1 1 0 011-1z"
                clip-rule="evenodd">
              </path>
            </svg>
            Añadir trajeta
          </button>
        </div>

        <div class="w-full">
          <label class="block mb-2 text-sm font-medium text-white opacity-0 dark:text-white">.</label>

          <button (click)="setFormType('FOUL')"
            class="w-full text-white inline-flex items-center bg-primary-700 hover:bg-primary-800 focus:ring-4 focus:outline-none focus:ring-primary-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center transition-colors duration-100"
            [ngClass]="getButtonClasses('FOUL')">
            <svg class="mr-1 -ml-1 w-6 h-6" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd"
                d="M10 5a1 1 0 011 1v3h3a1 1 0 110 2h-3v3a1 1 0 11-2 0v-3H6a1 1 0 110-2h3V6a1 1 0 011-1z"
                clip-rule="evenodd">
              </path>
            </svg>
            Añadir falta
          </button>
        </div>
      </div>

      @if(whichFormIsActive() === 'GOAL'){
      <div [@contentAnimation]>
        <app-add-goal [whichFormIsActive]="whichFormIsActive"></app-add-goal>
      </div>}
      @else if(whichFormIsActive() === 'CARD'){
      <div [@contentAnimation]>
        <app-add-card [whichFormIsActive]="whichFormIsActive"> </app-add-card>
      </div> }
      @else if(whichFormIsActive() === 'FOUL'){
      <div [@contentAnimation]>
        <app-add-foul [whichFormIsActive]="whichFormIsActive"></app-add-foul>
      </div>}


    </div>


    <article class=" py-8 flex flex-col gap-8 w-full justify-center my-8 shadow-md rounded-lg">

      <div class="grid grid-cols-1 sm:grid-cols-2 gap-4 items-center">

        <div class="flex flex-col gap-6 justify-center items-center">
          @if(localTeam?.avatar){
          <img src="{{imgUrl + localTeam?.avatar}}" alt="{{localTeam?.name}}"
            class="size-48 border-2 border-white rounded-full text-primary-700 shadow-md shadow-primary-700">
          }
          @else {
          <img src="/assets/icons/team_placeholder1.svg" alt="{{localTeam?.name}}"
            class="size-48 border-2 border-white rounded-full text-primary-700 shadow-md shadow-primary-700">
          }
          <div class="flex flex-col gap-2 items-center">
            <h5 class="font-bold text-xl uppercase text-gray-700">{{localTeam?.name}}</h5>
            <p class="text-4xl font-bold text-gray-900  rounded-lg max-w-24 text-center">{{localGoals.length}}</p>
          </div>


        </div>


        <div class="flex flex-col gap-6 justify-center items-center">
          @if(visitorTeam?.avatar){
          <img src="{{imgUrl + visitorTeam?.avatar}}" alt="{{visitorTeam?.name}}"
            class="size-48 border-2 border-white rounded-full text-primary-700 shadow-md shadow-primary-700">
          }
          @else {
          <img src="/assets/icons/team_placeholder2.svg" alt="{{visitorTeam?.name}}"
            class="size-48 border-2 border-white rounded-full text-primary-700 shadow-md shadow-primary-700">
          }
          <div class="flex flex-col gap-2 items-center">
            <h5 class="font-bold text-xl uppercase text-gray-700">{{visitorTeam?.name}}</h5>
            <p class="text-4xl font-bold text-gray-900  rounded-lg max-w-24 text-center">{{visitorGoals.length}}</p>
          </div>
        </div>

      </div>

      <div class="grid grid-cols-1 sm:grid-cols-2 gap-8 my-2">

        <div class="flex flex-col gap-0 items-center justify-start m-auto h-full ">
          <h5 class="font-semibold text-sm mb-1 sm:mb-2">JUGADORES</h5>
          @for(player of localPlayers; track player.player_id){
          <div (click)="onTogglePlayer(player)"
            class="flex flex-row gap-2 justify-start items-center px-4 py-2 w-full rounded-lg hover:cursor-pointer hover:text-gray-800 hover:bg-gray-100">
            @if(matchPlayersIds.includes(player.player_id)){
            <img @starAnimation src="/assets/icons/star_solid.svg" alt="Star icon" class="size-6 text-yellow-300">
            }
            @else{
            <img @starAnimation src="/assets/icons/star_outline.svg" alt="Star icon" class="size-6 text-primary-700">
            } <p class="text-gray-800 text-sm">{{player.player?.name}} {{player.player?.last_name}}</p>
          </div>
          }
        </div>

        <div class="flex flex-col gap-0 items-center justify-start m-auto h-full">
          <h5 class="font-semibold text-sm mb-1 sm:mb-2">JUGADORES</h5>
          @for(player of visitorPlayers; track player.player_id){
          <div (click)="onTogglePlayer(player)"
            class="flex flex-row gap-2 justify-start items-center px-4 py-2 w-full rounded-lg hover:cursor-pointer hover:text-gray-800 hover:bg-gray-100">
            @if(matchPlayersIds.includes(player.player_id)){
            <img @starAnimation src="/assets/icons/star_solid.svg" alt="Star icon" class="size-6 text-yellow-300">
            }
            @else{
            <img @starAnimation src="/assets/icons/star_outline.svg" alt="Star icon" class="size-6 text-primary-700">
            }
            <p class="text-gray-800 text-sm">{{player.player?.name}} {{player.player?.last_name}}</p>
          </div>
          }

          <!-- <img src="/assets/icons/star_solid.svg" alt="Star icon" class="size-6 text-yellow-200">
            <img src="/assets/icons/star_outline.svg" alt="Star icon" class="size-6 text-primary-700"> -->

        </div>
      </div>



    </article>
    <!-- <div class="border-b w-full max-w-2xl mx-auto p-4"> </div> -->

    @if(goals().length > 0){
    <article class="grid grid-cols-1 md:grid-cols-6 items-center px-4 py-8 w-full max-w-xl mx-auto">
      <h3 class="font-bold uppercase place-self-start">Goles:</h3>
      <ul class="flex flex-col gap-2 w-full col-span-5 place-self-start">
        @for(goal of goals(); track goal.id_goal){

        <li class="flex flex-row gap-2 justify-between items-center px-4 w-full  border-b">
          <div class="flex flex-row gap-2 justify-start items-center w-fit ">
            <p class="font-bold text-xs sm:text-sm">- {{goal.player?.name}} {{goal.player?.last_name}}</p>
            <p class="text-gray-800 text-xs sm:text-sm"> (<span class="font-bold">'{{getMatchMinute({goal})}}</span>)
            </p>
            <img @starAnimation src="/assets/svg/football_ball.svg" alt="Star icon"
              class="hidden sm:block size-3 text-yellow-300">
          </div>

          <div class="hover:scale-125 hover:text-gray-700 hover:cursor-pointer transition-all duration-200">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
              class="size-4" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
              <path d="M3 6h18" />
              <path d="M19 6v14c0 1-1 2-2 2H7c-1 0-2-1-2-2V6" />
              <path d="M8 6V4c0-1 1-2 2-2h4c1 0 2 1 2 2v2" />
              <line x1="10" x2="10" y1="11" y2="17" />
              <line x1="14" x2="14" y1="11" y2="17" />
            </svg>
          </div>

        </li>
        }
      </ul>
    </article>
    }

    @if(cards().length > 0){
    <article class="grid grid-cols-1 md:grid-cols-6 items-center px-4 py-8 w-full max-w-xl mx-auto">
      <h3 class="font-bold uppercase place-self-start">Tarjetas:</h3>
      <ul class="flex flex-col gap-2 w-full col-span-5 place-self-start">
        @for(card of cards(); track card.id_card){
        <li class="flex flex-row gap-2 justify-between items-center px-4 w-full  border-b">
          <div class="flex flex-row gap-2 justify-start items-center w-fit ">
            <p class="font-bold text-xs sm:text-sm">- {{card.player?.name}} {{card.player?.last_name}}</p>
            <p class="text-gray-800 text-sm"> (<span class="font-bold">'{{getMatchMinute({card})}}</span>)
            </p>
            @if(card.card_type === 'YELLOW'){
            <div class="w-4 h-6 bg-yellow-200 rounded-sm shadow-sm"></div>
            }
            @else if(card.card_type === 'RED'){
            <div class="w-4 h-6 bg-red-700 rounded-sm shadow-sm"></div>
            }
            @else if(card.card_type === 'BLUE'){
            <div class="w-4 h-6 bg-blue-800 rounded-sm shadow-sm"></div>
            }

          </div>

          <div class="hover:scale-125 hover:text-gray-700 hover:cursor-pointer transition-all duration-200"
            (click)="onDeleteCard(card)">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
              class="size-4" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
              <path d="M3 6h18" />
              <path d="M19 6v14c0 1-1 2-2 2H7c-1 0-2-1-2-2V6" />
              <path d="M8 6V4c0-1 1-2 2-2h4c1 0 2 1 2 2v2" />
              <line x1="10" x2="10" y1="11" y2="17" />
              <line x1="14" x2="14" y1="11" y2="17" />
            </svg>
          </div>

        </li>
        }
      </ul>
    </article>
    }

    @if(fouls().length > 0){
    <article class="grid grid-cols-1 md:grid-cols-6 items-center px-4 py-8 w-full max-w-xl mx-auto">
      <h3 class="font-bold uppercase place-self-start">Faltas:</h3>
      <ul class="flex flex-col gap-2 w-full col-span-5 place-self-start">
        @for(foul of fouls(); track foul.id_foul){
        <li class="flex flex-row gap-2 justify-between items-center px-4 w-full  border-b">
          <div class="flex flex-row gap-2 justify-start items-center w-fit ">
            <p class="font-bold text-xs sm:text-sm">- {{foul.player?.name}} {{foul.player?.last_name}}</p>
            <p class="text-gray-800 text-sm"> (<span class="font-bold">'{{getMatchMinute({foul})}}</span>)
            </p>

          </div>

          <div class="hover:scale-125 hover:text-gray-700 hover:cursor-pointer transition-all duration-200">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
              class="size-4" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
              <path d="M3 6h18" />
              <path d="M19 6v14c0 1-1 2-2 2H7c-1 0-2-1-2-2V6" />
              <path d="M8 6V4c0-1 1-2 2-2h4c1 0 2 1 2 2v2" />
              <line x1="10" x2="10" y1="11" y2="17" />
              <line x1="14" x2="14" y1="11" y2="17" />
            </svg>
          </div>

        </li>
        }
      </ul>
    </article>
    }

  </div>
</div>
