<!-- <div class="`relative w-full max-w-[1200px] flex flex-col gap-8 p-12
    sm:rounded-lg bg-white  shadow-md  overflow-hidden`"> -->
<div class="relative overflow-x-auto shadow-md sm:rounded-lg">
  <table class="w-full  text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
    <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
      <tr>
        <th scope="col" class="px-6 py-3">
          Equipo
        </th>
        <th scope="col" class="px-6 py-3">
          PTS
        </th>
        <th scope="col" class="px-6 py-3">
          PJ
        </th>
        <th scope="col" class="px-6 py-3">
          PG
        </th>
        <th scope="col" class="px-6 py-3">
          PE
        </th>
        <th scope="col" class="px-6 py-3">
          PP
        </th>
        <th scope="col" class="px-6 py-3">
          GF
        </th>
        <th scope="col" class="px-6 py-3">
          GC
        </th>

      </tr>
    </thead>
    <tbody>
      @for(standing of standings(); track standing.id_standings){
      <tr class="odd:bg-white odd:dark:bg-gray-900 even:bg-gray-50 even:dark:bg-gray-800 border-b dark:border-gray-700">
        <th scope="row"
          class="px-6 py-4 font-bold flex items-center gap-2 text-primary-700 whitespace-nowrap dark:text-white">
          <img src="{{imgUrl + standing.team.avatar}}" alt="{{standing.team.name}}"
            class="w-8 h-8 rounded-lg border object-cover shadow-sm shadow-primary-700">
          {{standing.team.name}}
        </th>
        <td class="px-6 py-4 font-extrabold">
          {{standing.points}}
        </td>
        <td class="px-6 py-4">
          {{standing.matches_played}}
        </td>
        <td class="px-6 py-4">
          {{standing.victories}}
        </td>
        <td class="px-6 py-4">
          {{standing.draws}}
        </td>
        <td class="px-6 py-4">
          {{standing.losses}}
        </td>
        <td class="px-6 py-4">
          {{standing.goals_for}}
        </td>
        <td class="px-6 py-4">
          {{standing.goals_against}}
        </td>
      </tr>
      }
    </tbody>
  </table>
</div>
<!-- </div> -->
