<div class="p-8 rounded-lg shadow-md m-6">
  <form action="" class="w-full grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-4">

    <div class="w-full">
      <label for="countries" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">
        Equipo
      </label>
      <select id="countries"
        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-700 focus:border-primary-700 block w-full p-2.5 ">
        <option value="id_team" selected>equipo 1</option>
        <option value="id_team">equipo 2</option>
      </select>
    </div>

    <div class="w-full">
      <label for="countries" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">
        Jugador
      </label>
      <select id="countries"
        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-700 focus:border-primary-700 block w-full p-2.5 ">
        <option value="id_player" selected>jugador 1</option>
        <option value="id_player">jugador 2</option>
        <option value="id_player">jugador 3</option>
        <option value="id_player">jugador 4</option>
        <option value="id_player">jugador 5</option>
      </select>
    </div>

    <div class="w-full">
      <label for="countries" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">
        Minuto
      </label>
      <input type="time" id="minute"
        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-700 focus:border-primary-700 block w-full p-2.5 ">
    </div>

    <div class="w-full">
      <label for="countries" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">
        Part
      </label>
      <select id="countries"
        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-700 focus:border-primary-700 block w-full p-2.5 ">
        <option value="id_player" selected>Primera parte</option>
        <option value="id_player">Segunda parte</option>
        <option value="id_player">Primera parte tiempo extra</option>
        <option value="id_player">Segunda parte tiempo extra</option>
        <option value="id_player">Penaltis</option>
      </select>
    </div>
    <button
      class="col-span-1 lg:col-span-3  w-full text-white inline-flex items-center bg-primary-700 hover:bg-primary-800 focus:ring-4 focus:outline-none focus:ring-primary-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center my-2 transition-colors duration-100">Añadir</button>
    <button
      class="col-span-1 w-full text-primary-700 inline-flex items-center border border-white bg-white hover:border hover:border-primary-800 hover:text-primary-800 focus:ring-4 focus:outline-none focus:ring-primary-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center my-2 transition-colors duration-100">Cancelar</button>
  </form>
</div>
