<!-- <div class="min-h-fit relative flex flex-col gap-4 w-full justify-center"> -->
<h2 class="text-3xl font-bold mb-8">
  {{competition()?.name}}
</h2>
<div class="relative w-full max-w-[1200px] flex flex-col gap-8 p-12 sm:rounded-lg bg-white  shadow-md  overflow-hidden">
  <div class="mb-4 border-b border-gray-200 dark:border-gray-700">
    <ul class="flex flex-wrap -mb-px text-sm font-medium text-center" id="default-tab"
      data-tabs-toggle="#default-tab-content" role="tablist">
      <li class="me-2" role="presentation">
        <button class="inline-block p-4 border-b-2 rounded-t-lg" id="overview-tab" data-tabs-target="#overview"
          type="button" role="tab" aria-controls="overview" aria-selected="false">General</button>
      </li>
      <li class="me-2" role="presentation">
        <button
          class="inline-block p-4 border-b-2 rounded-t-lg hover:text-gray-600 hover:border-gray-300 dark:hover:text-gray-300"
          id="classification-tab" data-tabs-target="#classification" type="button" role="tab"
          aria-controls="classification" aria-selected="false">Clasificación</button>
      </li>
      <li class="me-2" role="presentation">
        <button
          class="inline-block p-4 border-b-2 rounded-t-lg hover:text-gray-600 hover:border-gray-300 dark:hover:text-gray-300"
          id="calendar-tab" data-tabs-target="#calendar" type="button" role="tab" aria-controls="calendar"
          aria-selected="false" (click)="onCalendarTabClick()">Calendario</button>
      </li>
      <li role="presentation">
        <button
          class="inline-block p-4 border-b-2 rounded-t-lg hover:text-gray-600 hover:border-gray-300 dark:hover:text-gray-300"
          id="results-tab" data-tabs-target="#results" type="button" role="tab" aria-controls="results"
          aria-selected="false">Resultados</button>
      </li>
      <li role="presentation">
        <button
          class="inline-block p-4 border-b-2 rounded-t-lg hover:text-gray-600 hover:border-gray-300 dark:hover:text-gray-300"
          id="scorers-tab" data-tabs-target="#scorers" type="button" role="tab" aria-controls="scorers"
          aria-selected="false">Goleadores</button>
      </li>
      <li role="presentation">
        <button
          class="inline-block p-4 border-b-2 rounded-t-lg hover:text-gray-600 hover:border-gray-300 dark:hover:text-gray-300"
          id="cards-tab" data-tabs-target="#cards" type="button" role="tab" aria-controls="cards"
          aria-selected="false">Tarjetas</button>
      </li>
      <li role="presentation">
        <button
          class="inline-block p-4 border-b-2 rounded-t-lg hover:text-gray-600 hover:border-gray-300 dark:hover:text-gray-300"
          id="playerStats-tab" data-tabs-target="#playerStats" type="button" role="tab" aria-controls="playerStats"
          aria-selected="false">Estadísticas de jugadores</button>
      </li>
    </ul>
  </div>

  <div id="default-tab-content">

    <div class="hidden p-4 rounded-lg" id="overview" role="tabpanel" aria-labelledby="overview-tab">
      <!-- <app-competition-player-stats></app-competition-player-stats> -->
      <app-competition-overview [competition]="competition"
        [competitionType]="competitionType"></app-competition-overview>
    </div>

    <div class="hidden p-4 rounded-lg" id="classification" role="tabpanel" aria-labelledby="classification-tab">
      <app-competition-classification [competition]="competition"></app-competition-classification>
    </div>

    <div class="hidden p-4 rounded-lg" id="calendar" role="tabpanel" aria-labelledby="calendar-tab">
      <full-calendar *ngIf='calendarVisible()' [options]='calendarOptions()' #fullCalendar>
        <ng-template #eventContent let-arg>
          <b>{{ arg.timeText }}</b>
          <i>{{ arg.event.title }}</i>
        </ng-template>
      </full-calendar>
    </div>

    <div class="hidden p-4 rounded-lg" id="results" role="tabpanel" aria-labelledby="results-tab">
      <app-competition-results [matches]="matchesResponse()?.data?.items || []"></app-competition-results>
    </div>


    <div class="hidden p-4 rounded-lg" id="scorers" role="tabpanel" aria-labelledby="scorers-tab">
      <app-competition-scorers></app-competition-scorers>
    </div>

    <div class="hidden p-4 rounded-lg" id="cards" role="tabpanel" aria-labelledby="cards-tab">
      <app-competition-cards></app-competition-cards>
    </div>
    <div class="hidden p-4 rounded-lg" id="playerStats" role="tabpanel" aria-labelledby="playerStats-tab">
      <app-competition-player-stats [competition]="competition">
      </app-competition-player-stats>
    </div>
  </div>
